* {
    box-sizing: border-box;
}

.App {
    background-color: whitesmoke;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.ui {
    display: grid;
    grid-template-columns: 400px auto 400px;
    height: 100vh;
}

.canvas {
    background-color: #ffffff;
    width: 600px;
    position: relative;
    overflow: visible;
    margin: 50px auto auto;
}

.panel {
    background-color: #ffffff;
    padding: 0 15px;
}

.drag-delete {
    cursor: pointer;
    position: absolute;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    background-color: red;
    bottom: 100%;
    right: 0;
    display: none;
}

.active-content > .drag-delete {
    display: block;
}

.content {
    height: 100%;
}

.content p {
    margin: 0;
}

.content-button a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.MuiInput-underline.Mui-disabled:before {
    border-bottom-style: solid;
}