.App {
    display: grid;
    grid-template-columns: 400px auto 400px;
    background-color: whitesmoke;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.draggable {
    width: 150px;
    height: 150px;
    position: absolute;
    background-color: #74ee81;
}

.draggable:last-of-type {
    background-color: darkgreen;
}

.draggable.active {
    outline: 2px solid red;
}

.canvas {
    background-color: #ffffff;
    width: 600px;
    height: 800px;
    position: relative;
    overflow: visible;
    margin: 50px auto;
}

.panel {
    background-color: #ffffff;
    padding: 0 15px;
}

.drag-handler {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000000;
    bottom: 100%;
    right: 0;
    display: none;
}

.draggable.active > .drag-handler {
    display: block;
}


.content p {
    margin: 0;
}

.content a {
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.MuiInput-underline.Mui-disabled:before {
    border-bottom-style: solid;
}